<% provide(:title, "Search") %>
<center> <h3> Search </h3> </center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: search_path) do |f| %>

      <%= f.text_field :tags, class: 'form-control', placeholder: "Please Enter Comma(,) Separated Tags " %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<hr>

<center> <h3> Available Tags </h3> </center>

<% (0..@tag.length-1).step(4).each do |index| %>
  <div class="row">
    
  <div class="col-sm-3">
    <p> <%= @tag[index]["value"] if @tag[index] %> </p>
  </div>

  <div class="col-sm-3">
    <p> <%= @tag[index+1]["value"] if @tag[index+1] %> </p>
  </div>

  <div class="col-sm-3">
    <p> <%= @tag[index+2]["value"] if @tag[index+2] %> </p>
  </div>

  <div class="col-sm-3">
    <p> <%= @tag[index+3]["value"] if @tag[index+3] %> </p>
  </div>

  </div>
<% end %>  