<% provide(:title, "Search Result" ) %>
<!--  <div class="row">
  <aside class="col-md-12">
    <section class="search_info">
      <h1>
        <%= @search_data %>
      </h1>
    </section>
  </aside>
</div> -->


<% if @search_data %>
	<h4> Question </h4>
	<% count = 1 %>
	<% @search_data.each do |question| %>
		<% if question["value"] %>
			<div class="row">
				<div class="col-sm-5">
					<strong> Question - <%= count %>  </strong> <%= question["value"] %> 
				</div>

				<% if logged_in? %>
					<div class="col-sm-2">
						<%= form_with(url: post_answer_path ) do |f| %>
							<%= render 'shared/error_messages' %>

							<%= f.text_field :answer, placeholder: "Write an answer" %>
							<%= f.hidden_field :id, value: question["id"]  %>
							<%= f.hidden_field :type, value: "Question" %>
					</div>
					<div class="col-sm-2">
						<%= f.submit "Post your Answer", class: "btn btn-primary" %>
					</div>
						<% end %>
					<div class="col-sm-1">
						<%= form_with(url: post_vote_path ) do |f| %>
							<%= render 'shared/error_messages' %>
							
							<%= f.hidden_field :id, value: question["id"]  %>
							<%= f.hidden_field :type, value: "Question" %>
							<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
					</div>
					<div class="col-sm-1">
							<%= f.submit "Vote", class: "btn btn-primary" %>
					</div>
						<% end %>
					
					<div class="col-sm-1">
						<%= form_with(url: show_question_path, method: "get" ) do |f| %>
							<%= f.hidden_field :id, value: question["id"]  %>
							<%= f.submit "Show", class: "btn btn-primary" %>
						<% end %>
					</div>
			  <% end %>
				
			</div>
			
			<h4> Question Votes </h4>
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-3">
					<strong> Upvote : </strong> <%= question["votes"]["upvote"] %>
				</div>

				<div class="col-sm-3">
					<strong> Downvote : </strong> <%= question["votes"]["downvote"] %>
				</div>
				<div class="col-sm-3">
				</div>
			</div>

			<h4> Answer </h4> 
			<% ans_count = 1 %>
			<% question["answers"].each do |answers| %>
				<% if answers["value"] %>
					<div class="row">
						<div class="col-sm-5">
							<p> <%= ans_count %> <%= answers["value"] %> </p>
						</div>

						<% if logged_in? %>
							<div class="col-sm-2">		
								<%= form_with(url: post_comment_path ) do |f| %>
									<%= render 'shared/error_messages' %>
									
									<%= f.hidden_field :id, value: answers["id"] %>
									<%= f.hidden_field :type, value: "Answer" %>
									<%= f.text_field :comment, placeholder: "Write a comment" %>
							</div>
							<div class="col-sm-2">
								<%= f.submit "Post your commemt", class: "btn btn-primary" %>
							</div>
								<% end %>

							<div class="col-sm-1">
								<%= form_with(url: post_vote_path ) do |f| %>
									<%= render 'shared/error_messages' %>
									
									<%= f.hidden_field :id, value: answers["id"]  %>
									<%= f.hidden_field :type, value: "Answer" %>
									<%= f.select :weight, options_for_select([['UP', "upvote"], ['DOWN', "downvote"]]) %>
							</div>
							
							<div class="col-sm-1">
									<%= f.submit "Vote", class: "btn btn-primary" %>
							</div>
								<% end %>
							
							<div class="col-sm-1">
								<%= form_with(url: show_answer_path, method: "get" ) do |f| %>
									<%= f.hidden_field :id, value: answers["id"]  %>
									<%= f.submit "Show", class: "btn btn-primary" %>
								<% end %>
							</div>
						<% end %>
					
						</div>
					<% ans_count+= 1 %>
				<% end %>
			<% end %>

				<h4> Comments </h4>
				<% comment_count = 1 %>
				<% question["comments"].each do |comment| %>
					<% if comment["value"] %>
						<div class="row">
							<div class="col-sm-10">
								<strong> Comment - <%= comment_count %>  </strong> <%= comment["value"] %>
							</div>
							<% if logged_in? %>
								<div class="col-sm-2">
									<%= form_with(url: show_comment_path, method: "get") do |f| %>
										<%= f.hidden_field :id, value: comment["id"]  %>
										<%= f.hidden_field :type, value: "Question"  %>
										<%= f.hidden_field :type_id, value: question["id"]  %>
										<%= f.submit "Show", class: "btn btn-primary" %>
									<% end %>
								</div> 
							<% end %>
						</div>
						<br>
					<% comment_count += 1 %>
					<% end %>
				<% end %>
				
				<h4> User Information </h4>
				<div class="row">
					<div class="col-sm-4">
						<strong> Name : </strong> <%= question["user"]["name"] %>
					</div>

					<div class="col-sm-4">
						<strong> Email : </strong> <%= question["user"]["email"] %>
					</div>

					<div class="col-sm-4">
						<strong> Reputation : </strong> <%= question["user"]["reputation"] %>
					</div>

				</div>

			<hr>
			<% count += 1 %>
		<% end %>
	<% end %>
<% end %>

<% if @posted_vote %>
	<div class="row">
		<div class="col-sm-12">
			<strong> Message : </strong> <%= @posted_vote %>
		</div>
	</div>
<% end %>