<% provide(:title, "Comment" ) %>

<% if @comment_res %>

	<div class="row">
		<div class="col-sm-12">
			Below is a comment for <strong> <%= @comment_type %> </strong>
		</div>
	</div>


	<div class="row">

		<div class="col-sm-12">
			<strong> <%= @comment_res["user"]["name"] %> </strong> Posted Below Comment -  
		</div>

	</div>

	<hr>

	<div class="row">
		<div class="col-sm-2">
			<h4>Comment:</h4>
		</div>
		<div class="col-sm-8" >
			<h4> <%= @comment_res["value"] %> </h4>
		</div>

		<% if session[:user_id] == @comment_res["user"]["id"] %>
			<div class="col-sm-1" >
				<%= form_with(url: delete_comment_path, method: "get") do |f| %>
					<%= f.hidden_field :id, value: @comment_res["id"]  %>
					<%= f.hidden_field :type, value: @comment_type  %>
					<%= f.hidden_field :type_id, value: @comment_type_id  %>
					<%= f.submit "Delete", class: "btn btn-primary" %>
				<% end %>
			</div>

				<div class="col-sm-1">
					<%= form_with(url: edit_comment_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: @comment_res["id"]  %>
						<%= f.hidden_field :type, value: @comment_type  %>
						<%= f.hidden_field :type_id, value: @comment_type_id  %>
						<%= f.submit "Edit", class: "btn btn-primary" %>
					<% end %>
			</div>

		<% end %>

	</div>





<% end %>