<% if @user %>
<% provide(:title, "User Info" ) %>
<center> <h3> User Information </h3> </center> <br>
<div class="row">
	<div class="col-sm-4">
		Name : <strong> <%= @user["name"] %> </strong>
	</div>

	<div class="col-sm-4">
		Email : <strong> <%= @user["email"] %> </strong>
	</div>

	<div class="col-sm-4">
		Reputation : <strong> <%= @user["reputation"] %> </strong>
	</div>

</div>
<hr>      
<center> <h3> Posted Questions </h3> </center>
	<% count = 1 %>
	<% @user["questions"].each do |question| %>
		<% if question["value"] %>
			<div class="row">
				<div class="col-sm-7">
					
						<strong> Question- <%= count %>. </strong> <%= question["value"] %><br> 
						<% count += 1 %>
				</div>

				<div class="col-sm-2">
					<%= form_with(url: delete_question_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: question["id"]  %>
						<%= f.submit "Delete", class: "btn btn-primary" %>
					<% end %>
				</div>

				<div class="col-sm-2">
					<%= form_with(url: show_question_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: question["id"]  %>
						<%= f.submit "Show", class: "btn btn-primary" %>
					<% end %>
				</div>
				
				<div class="col-sm-1">
					<%= form_with(url: edit_question_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: question["id"]  %>
						<%= f.submit "Edit", class: "btn btn-primary" %>
					<% end %>
				</div>

			</div>	
			<br>
		<% end %>
	<% end %>
	<hr>
<center>	<h3> Posted Answers </h3> </center>
	<% count = 1 %>
	<% @user["answers"].each do |answer| %>
		<% if answer["value"] %>
			<div class="row">
				<div class="col-sm-7">
						<strong> Answer - <%= count %>. </strong> <%= answer["value"] %>
						<% count += 1 %>
				</div>

				<div class="col-sm-2">
					<%= form_with(url: delete_answer_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: answer["id"]  %>
						<%= f.submit "Delete", class: "btn btn-primary" %>
					<% end %>
				</div>

				<div class="col-sm-2">
					<%= form_with(url: show_answer_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: answer["id"]  %>
						<%= f.submit "Show", class: "btn btn-primary" %>
					<% end %>
				</div>

				<div class="col-sm-1">
					<%= form_with(url: edit_answer_path, method: "get") do |f| %>
						<%= f.hidden_field :id, value: answer["id"]  %>
						<%= f.submit "Edit", class: "btn btn-primary" %>
					<% end %>
				</div>

			</div>
			<br>
		<% end %>	
	<% end %>
	
<% end %>
<hr>

<center> <h3> Post Your Question </h3> </center> <br>
<%= form_with(url: questions_path ) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="row">
		<div class="col-sm-5">
			<%= f.text_field :question, placeholder: "Please Enter Questions" %>
		</div>

		<div class="col-sm-5">
			<%= f.text_field :tags, placeholder: "Please Enter Tags" %>
		</div>

		<div class="col-sm-2">
			<%= f.submit "POST", class: "btn btn-primary" %>
		</div>
</div>
<% end %>

<% if is_admin? %>
<hr>
	<center> <h3> Post Your Tags </h3> </center> <br>
	<%= form_with(url: post_tags_path ) do |f| %>
		<%= render 'shared/error_messages' %>
		<div class="row">
			<div class="col-sm-10">
				<%= f.text_field :tags, placeholder: "Please Enter comma(,) separated Tags" %>
			</div>

			<div class="col-sm-2">
				<%= f.submit "POST", class: "btn btn-primary" %>
			</div>
	</div>
	<% end %>
<% end %>



<hr>
<% if @tag %>
	<center> <h3> Available Tags </h3> </center>

	<% (0..@tag.length-1).step(4).each do |index| %>
		<div class="row">
			
		<div class="col-sm-3">
			<p> <%= @tag[index]["value"] if @tag[index] %> </p>
		</div>

		<div class="col-sm-3">
			<p> <%= @tag[index+1]["value"] if @tag[index+1] %> </p>
		</div>

		<div class="col-sm-3">
			<p> <%= @tag[index+2]["value"] if @tag[index+2] %> </p>
		</div>

		<div class="col-sm-3">
			<p> <%= @tag[index+3]["value"] if @tag[index+3] %> </p>
		</div>

		</div>
	<% end %>  
<% end %>

<hr>
<% if @posted_question %>
	<div class="row">
		<div class="col-sm-12">
			<strong> Question : </strong>  <%= @posted_question["value"] %><br>
			<strong> Tags : </strong> <%= @posted_question["tags"] %><br>			
		</div>
	</div>
<% end %>
