<% provide(:title, "Edit Answer") %>

<div class="row">
	<%= form_with(url: edit_answer_path) do |f| %>
		<div class="col-sm-1">
			<label>Answer:</label><br>
		</div>

		<div class="col-sm-10">
			<%= f.hidden_field :id, value: @answer_res["id"]  %>
			<%= f.text_field :value, value: @answer_res["value"]  %><br>
		</div>

		<div class="col-sm-1">
			<%= f.submit "Post", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
